#set($title = "客户端内容管理")
<script type="text/javascript" src="$assetModule.getTarget("/appstore-man/ckeditor/ckeditor.js")"></script>
<script type="text/javascript" src="$assetModule.getTarget("/appstore-man/js/clientmanager/clientmanager.js")"></script>
<script type="text/javascript" src="$assetModule.getTarget("/appstore-man/js/clientmanager/util.js")"></script>
<div class="w">
    <div id="warp">
        <div class="content">
            <!--left_start-->
            <div class="menu-box rounded fl" id="red">
                <div id="menu-box">
                    <div class="box">
                        <div class="title_1">客户端内容管理<span class="menu1"></span></div>
                        <div class="list">
                            <ul class="treeview-red">
                                <li onclick="getCPServer();">
                                            <span id="menu_1.4" class="selected">
                                                CP系统首页推荐
                                            </span>
                                </li>
                            #*<li class="opens"><span id="menu_1">推广内容管理</span>
                                <ul>
                                    <li onclick="getPhoneRecommend();"><span id="menu_1.0"
                                                                             class="selected">手机客户端</span>
                                    </li>
                                    <li onclick="getPadRecommend();"><span id="menu_1.1">PAD客户端</span>
                                    </li>
                                    <!--<li onclick="getWebRecommend();">
                                        <span id="menu_1.">
                                                WEB网站
                                        </span>
                                    </li> -->
                                    <li onclick="getPCRecommend();">
                                        <span id="menu_1.3">
                                                PC客户端&网站
                                        </span>
                                    </li>
                                    <li onclick="getCPServer();">
                                        <span id="menu_1.4">
                                            CP系统首页推荐
                                        </span>
                                    </li>
                                </ul>
                            </li>*#
                                <li><span id="menu2">排行榜管理</span>
                                    <ul>
                                        <li onclick="getRankingList(0, 0);"><span id="menu_2.0">精品</span>
                                        <li onclick="getRankingList(0, 1);"><span id="menu_2.1">专辑</span>
                                        #*<ul>
                                            <li onclick="getRankingList(1, 0);"><span id="menu_2.0.0">新品推荐</span>
                                            </li>
                                            <li onclick="getRankingList(1, 1);"><span id="menu_2.0.1">上升最快</span>
                                            </li>
                                          *##*  <li onclick="getRankingList(1, 3);"><span id="menu_2.0.2">热门免费</span>
                                            </li>
                                            <li onclick="getRankingList(1, 2);"><span id="menu_2.0.3">热门付费</span>
                                            </li>*##*
                                        </ul>
                                    </li>
                                    <li><span id="menu_2.1">移动软件</span>
                                        <ul>
                                            <li onclick="getRankingList(0, 0);"><span id="menu_2.1.0">新品推荐</span>
                                            </li>
                                            <li onclick="getRankingList(0, 1);"><span id="menu_2.1.1">上升最快</span>
                                            </li>
                                            *##*<li onclick="getRankingList(0, 3);"><span id="menu_2.1.2">热门免费</span>
                                            </li>
                                            <li onclick="getRankingList(0, 2);"><span id="menu_3.1.3">热门付费</span>
                                            </li>*##*
                                        </ul>
                                    </li>*#
                                        #* <li><span id="menu_2.2">网页应用</span>
                                             <ul>
                                                 <li onclick="getRankingList(2, 0);"><span id="menu_2.2.0">新品推荐</span>
                                                 </li>
                                                 <li onclick="getRankingList(2, 1);"><span id="menu_2.2.1">上升最快</span>
                                                 </li>
                                                 <li onclick="getRankingList(2, 2);"><span id="menu_2.2.2">热门免费</span>
                                                 </li>
                                                 <li onclick="getRankingList(2, 3);"><span id="menu_2.2.3">热门付费</span>
                                                 </li>
                                             </ul>
                                         </li>*#
                                    </ul>
                                </li>
                                <li onclick="getTopicList()">
                                    <span id="menu3">专题管理</span>
                                </li>
                            #* <li onclick="getWebsitNotice();">
                                 <span id="menu4">资讯管理</span>
                             </li>
                             <li onclick="getHotWords();">
                                 <span id="menu5">热门搜索词</span>
                             </li>*#
                               #* <li onclick="compulsoryInstallation();">
                                    <span id="menu4">强制安装</span>
                                </li>
                                <li onclick="suNingApps();">
                                    <span id="menu5">苏宁易购的安装</span>
                                </li>
                                <li onclick="getActivityList()">
                                    <span id="menu6">素材管理</span>
                                </li>
                                <li onclick="cpDateImport();">
                                    <span id="menu7">CP激活数据导入</span>
                                </li>*#
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--left_end-->
            <!--right_start-->
            <div id="right_start" class="fr">

            </div>
            <!--right_end-->
        </div>
    </div>

##    <div class="classPop" style="width:800px;height:500px;" id="confirmPop">
##
##    </div>

    <div id="Loading" class="hide"
         style="width:100px;height:100px;position:fixed;left:50%;top:50%;margin: -50px 0 0 -50px;z-index: 1001;">
        <img src="$assetModule.getTarget("/appstore-man/images/loading.gif")"/>
    </div>
    <div id="Loading2" class="hide"
         style="text-align:center;position:fixed;z-index: 1000;filter:alpha(opacity=10);background-color:#666;opacity: 0.1;-moz-opacity: 0.1;width:100%;height: 100%;top:0;left:0;">
    </div>
</div>