#set($layout="content.vm")
<script type="text/javascript">
    $(document).ready(function () {
        var b = new Pop({ oPop: "classPop", zIndex: 1001, mode: ["center", "center"], idOpen: "add", idClose: ["close", "close"], cover: true, beCover: false, zIndexCover: 1000, colorCover: "#666", opactiyCover: 0.1 });
    });
    /*分页*/
    function macroAjaxSubmit(url) {
        jQuery.ajax({
            type: 'POST',
            url: url,
            success: function (data) {
                jQuery('#right_start').html(data);
            }
        });
    }
</script>
<div class="fr">
    <div class="right-box rounded">
        <div class="form-row">
            <input class="add fr" type="button" value="导入CP激活数据" onclick="addCpDateImport()"/>
        </div>
        <div class="tb-box">
            <table class="tb" cellspacing="0" cellpadding="0">
                <tr class="tit-bg">
                    <td width="92">应用图标</td>
                    <td width="92">应用名称</td>
                    <td width="80">CP名称</td>
                    <td width="80">导入状态</td>
                    <td width="80">导入信息</td>
                    <td width="40">导入条数</td>
                    <td width="80">导入时间</td>
                    <td width="92">操作</td>
                </tr>
                #foreach($cpDate in $cpDateImport)
                    <tr>
                        <td>
                            <label> <img width="75" height="75"
                                         src="$imgserver.getTarget('')cover/$cpDate.logoUrl"></label>
                        </td>
                        <td>
                            $!cpDate.appName
                        </td>
                        <td>
                            $!cpDate.cpName
                        </td>
                        <td>
                            #if($!cpDate.status==1)
                                导入成功
                            #elseif($!cpDate.status==0)
                                导入失败
                            #elseif($!cpDate.status==2)
                                 正在导入
                            #end
                        </td>
                        <td>
                            $!cpDate.mess
                        </td>
                        <td>
                            $!cpDate.amount
                        </td>
                        <td>
                            <label>$!dateFormatUtils.format($!cpDate.created,"yyyy-MM-dd")</label>
                        </td>
                        <td>
                            <a href="javascript:void(0)" onclick="deleteCpDateImport($!cpDate.id)">删除</a>
                        </td>
                    </tr>
                #end
            </table>
        </div>
    </div>
    <div class="paging fr">
        <div class="paging-box_2"> #set($pageModule=$domain.getTarget("/cpdateimport/cpDateImport.action").addQueryData("pageSize",$!pageSize))
        #showPage($pageModule $cpDateImport) </div>
    </div>
</div>

<div class="classPop" style="width:800px;height:500px;" id="confirmPop">

</div>