#set($layout="content.vm")
<link rel="stylesheet" href="$assetModule.getTarget("/appstore-man/js/uploadify-v2.1.4/uploadify.css")" type="text/css"
      media="screen"/>
<script type="text/javascript" src="$assetModule.getTarget("/appstore-man/js/uploadify-v2.1.4/swfobject.js")"></script>
<script type="text/javascript"
        src="$assetModule.getTarget("/appstore-man/js/uploadify-v2.1.4/jquery.uploadify.v2.1.4.min.js")"></script>
<script type="text/javascript">
    $(document).ready(function() {
        uploadPic();
        var a = new Pop({ oPop: "classPop", zIndex: 1001, mode: ["center", "center"], idOpen: "open", idClose: ["close", "close"], cover: true, beCover: false, zIndexCover: 1000, colorCover: "#666", opactiyCover: 0.1 });
    });
    function uploadPic() {
        $("#file_upload").uploadify({
                    'uploader':'/appstore-man/js/uploadify-v2.1.4/uploadify.swf',    //组件自带的flash，路径根据情况自行调整
                    'script':'$assetModule.getTarget("/upload/uploadImg.action")',
                    'cancelImg':'/appstore-man/js/uploadify-v2.1.4/cancel.png',
                    'fileDataName':'uploadFile',
                    'queueID':'fileQueue',     //放置上传文件及上传进度的Html元素Id
                    'queueSizeLimit':1,        //-次最多选择多少个文件上传，这里限定为一个
                    'fileDesc':'*.jpg;*.jpeg;*.png',
                    'fileExt':'*.jpg;*.jpeg;*.png',
                    'buttonImg' : '/appstore-man/images/vot/upload.png',
                    'auto':true,            //是否选取文件后自动上传
                    'multi':false,           //多文件上传时必须打开
                    'onError':function(event, queueID, fileObj, errorObj) {
                        alert(" 上传失败" + errorObj.info + " 错误类型" + errorObj.type);
                    },
                    'onComplete':function(event, queueID, fileObj, response, data) {
                        var url = '$recimageserver.getTarget("")';
                        $('#logoUrl').val(response);
                        $('#tempImg').attr('src', url + response);
                    }
                });
    }
    ;

    function updateCPRecommend(id){
        var url = document.getElementById('logoUrl').value;
        var linkedUrl = document.getElementById('linkedUrl').value;
        var id = document.getElementById('recommId').value;

        jQuery.ajax({
                    type:'POST',
                    url:'/recommendManager/updateCPRecommend.action',
                    data:'recommendManagerResult.id='+id+'&recommendManagerResult.url='+url+'&recommendManagerResult.linkedUrl='+linkedUrl,
                    dataType:'html',
                    success:function(data){
                        getCPServer();
                        $('#close').click();
                    }
                });
    };
</script>
<div class="pop-top">
    <div class="ac">
        <h2>编辑CP推荐内容</h2>
    </div>
</div>
<div class="pop-scrollbar">
    <div class="pop-box">
        <div class="con">
            <table class="tb" cellpadding="0" cellspacing="0">
                <tr>
                    <td valign="top" width="130"><label>图&#12288;&#12288;片：</label></td>
                    <td>
                        <div style=" width:360px;overflow: hidden;" id="uploadLogo">
                            <label>
                                <input id="file_upload" name="photo" type="file"/>

                                <div id="fileQueue" style="width: 300px;"></div>
                            </label>
                            <label style="padding: 0 5px;">建议图片：990*430</label>
                            <label><img id="tempImg" style="max-width: 300px; max-height: 150px;"
                                        src="$recimageserver.getTarget('')$!recommendManagerResult.url"/></label>
                            <input id="logoUrl" type="hidden" value="$!recommendManagerResult.url"/>
                            <input id="recommId" type="hidden" value="$!recommendManagerResult.id"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td valign="top" width="130"><label>外链地址：</label></td>
                    <td valign="top"><p><input id="linkedUrl" class="input" style="width:324px;" type="text" value="$!recommendManagerResult.linkedUrl"/>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="btn-box">
    <input class="btn" type="button" value=" 确 认 完 成 " onclick="updateCPRecommend($!clientRecommend.id);">
    <input id="close" class="close" type="button" value="取 消">
</div>