<!--应用的安装总量-->
#set($layout="content.vm")
<div>
    --><a href="javascript:void(0)" onclick="provinceArrStatisTotal()">省办到达统计</a>--><a href="javascript:void(0)" onclick="">按渠道查看</a>
</div>
<table class="tb" cellspacing="0" cellpadding="0">
    #if($provinceArrStatisList.size()>0)
        <tr class="tit-bg">
            <td>渠道名称</td>
            <td>安装应用数</td>
            <td>到达应用数</td>
            <td>到达率</td>
            <td>操作</td>
        </tr>
        #foreach($provinceArrStatis in $provinceArrStatisList)
            <tr>
                <td>$!provinceArrStatis.channelName</td>
                <td>$!provinceArrStatis.installCounts</td>
                <td>$!provinceArrStatis.arrCounts</td>
                <td>$!provinceArrStatis.arrPercentage</td>
                <td><a href="javascript:void(0);"onclick="provinceArrStatisBySaler($provinceArrStatis.cid);"> 按促销员查看</a></td>
            </tr>
        #end
    #else
        <tr class="tit-bg">
            <td>渠道名称</td>
            <td>安装应用数</td>
            <td>到达应用数</td>
            <td>到达率</td>
            <td>操作</td>
        </tr>
        <tr>
            <td colspan="4">
                <span style="color:#f65d00 "> 暂无省办到达数据</span>
            </td>
        </tr>
    #end
</table>
