#set($layout="content.vm")
<script type="text/javascript">
    function macroAjaxSubmit(url) {
        document.getElementById("Loading").style.display = "block";
        document.getElementById("Loading2").style.display = "block";
        var startTime = $("#d5221").val();
        var endTime = $("#d5222").val();
        jQuery.ajax({
            type: 'post',
            url: url,
            data: 'startTime=' + startTime + "&endTime=" + endTime,
            dataType: "html",
            success: function (msg) {
                jQuery("#content").html(msg);
                document.getElementById("Loading").style.display = "none";
                document.getElementById("Loading2").style.display = "none";
            }
        });
    }
</script>
<div class="paging fr">
    <div class="paging-box_2">
        #set($pageModule = $domain.getTarget("salerActive/salerActiveContent.action").addQueryData("pageSize",$!pageSize))
                        #showPage($pageModule $salerActiveList)
    </div>
</div>
<table class="tb" cellspacing="0" cellpadding="0">
    <tr class="tit-bg">
        <td>省份</td>
        <td>促销员名字</td>
        <td>唯一号</td>
        <td>安装手机台数</td>
        <td>活跃度</td>
    </tr>
    #if($salerActiveList.size()>0)
        #foreach($!salerActive in $!salerActiveList)
            <tr>
                <td>$!salerActive.channelName</td>
                <td>$!salerActive.salerName</td>
                <td>$!salerActive.saler</td>
                <td>$!salerActive.phoneTimes</td>
                <td>$!salerActive.activeDayPercentage</td>
            </tr>
        #end
    #else
        <tr>
            <td colspan="7"><span style="color:#F65D00 ">暂无促销员活跃统计数据</span></td>
        </tr>
    #end
</table>
<div class="paging fr">
    <div class="paging-box_2">
        #set($pageModule = $domain.getTarget("salerActive/salerActiveContent.action").addQueryData("pageSize",$!pageSize))
                        #showPage($pageModule $salerActiveList)
    </div>
</div>