<head><title> 全网营销体验平台支撑系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <link rel="stylesheet" type="text/css" href="$assetModule.getTarget('/appstore-man/css/base.css')"/>
    <link rel="stylesheet" type="text/css" href="$assetModule.getTarget('/appstore-man/css/main.css')"/>
    <link rel="stylesheet" type="text/css" href="$assetModule.getTarget('/appstore-man/css/login.css')"/>

    <script type="text/javascript" src="$assetModule.getTarget('/appstore-man/js/jquery-1.4.2.min.js')"></script>
    <script type="text/javascript" src="$assetModule.getTarget('/appstore-man/js/jquery.cookie.js')"></script>
    <script type="text/javascript" src="$assetModule.getTarget('/appstore-man/js/jquery.treeview.js')"></script>

    <script type="text/javascript" src="$assetModule.getTarget('/appstore-man/js/menu.js')"></script>
    <script type="text/javascript" src="$assetModule.getTarget('/appstore-man/js/alert.js')"></script>
    <script type="text/javascript" src="$assetModule.getTarget('/appstore-man/js/mouse-big.js')"></script>
    <script type="text/javascript" src="$assetModule.getTarget('/appstore-man/js/picrotate.js')"></script>
    <script type="text/javascript" src="$assetModule.getTarget('/appstore-man/datePicker/WdatePicker.js')"></script>
</head>