<!--新版安装日志统计-->
#set($layout="content.vm")
<div class="right-box rounded">
    <div class="form-row">
        <label class="label2" style="font-weight: bold">时间：</label>
        <input id="d5221" class="Wdate input" type="text" readonly="readonly"
               onFocus="var d5222=$dp.$('d5222');WdatePicker({onpicked:function(){d5222.focus();},maxDate:'#F{$dp.$D(\'d5222\')}'})"/>
        <span>--</span>
        <input id="d5222" class="Wdate input" type="text" readonly="readonly"
               onFocus="WdatePicker({minDate:'#F{$dp.$D(\'d5221\')}'})"/>
        <input id="del" class="to-select" type="button" onclick="staticticMethod();" value="查 询">
        <input id="exportExcel" class="to-select" type="button" onclick="exportExcel();" value="导出报表">
    </div>
    <div id="marketStatic" class="tb-box">
    </div>
    <!--查询方法-->
    <input id="bookMethod" value="0" type="hidden"/>
    <!--商品编号-->
    <input id="cId" value="" type="hidden"/>
    <!--渠道编号-->
    <input id="appId" value="" type="hidden"/>
    <!--促销员编号-->
    <input id="saler" value="" type="hidden"/>
    <!--上级促销员ID-->
    <input id="parentId" value="" type="hidden"/>
    <!--登录用户的渠道-->
    <input id="userCid" value="$userCid" type="hidden"/>
    <!--渠道类型-->
    <input id="channelType" value="" type="hidden"/>
</div>
<script type="text/javascript">
    /**
     * 页面提前加载项
     */
    (function () {
        var object = document.getElementById("nav-app");
        if (object)object.className += " curr";//当前导航
    })();
</script>
