#set($layout="content.vm")
<div class="newStat">
    <ul>
        <li style="cursor: pointer" onclick="appInstallTotal()">应用的安装总量</li>
        <li class="current">按渠道查看</li>
    </ul>
</div>
<div class="tb-box">
    <table class="tb" cellspacing="0" cellpadding="0">
        <tr class="tit-bg">
            <td width="150">渠道名称</td>
            <td width="150">安装手机台数</td>
            <td width="150">安装应用个数</td>
            <td width="150">操作</td>
        </tr>
        #foreach($newStat in $totalByChannel)
            <tr>
                <td>$!newStat.cname</td>
                <td>$!newStat.phoneCounts</td>
                <td>$!newStat.appCounts</td>
                <td>
                    <a href="javascript:void(0);" onclick="channelType($newStat.cid)">
                        按渠道类型
                    </a>
                </td>
            </tr>
        #end
    </table>
</div>
