#set($layout="content.vm")
<script language="javascript">
    $(document).ready(function(){
        var a = new Pop({ oPop: "classPop", zIndex: 1001, mode: ["center", "center"], idOpen: "open", idClose: ["close", "close"], cover: true, beCover: false, zIndexCover: 1000, colorCover: "#666", opactiyCover: 0.1 });
        var b = new Pop({ oPop: "classPop", zIndex: 1001, mode: ["center", "center"], idOpen: "to-del", idClose: ["close", "close"], cover: true, beCover: false, zIndexCover: 1000, colorCover: "#666", opactiyCover: 0.1 });
    });
    /**
      * 备注提示
      */
    function num(){
        var maxLength=100;
        var textLength=jQuery('#categoryIntro').val().length;
        if(textLength<=maxLength){
            jQuery('#msg').html(maxLength-textLength);
        }else{
            jQuery('#categoryIntro').val(jQuery('#categoryIntro').val().substr(0,maxLength));
            jQuery('#msg').html(0);
        }
    };
</script>
<div class="pop-top">
    <div class="ac">
      <h2>增加平台信息</h2>
    </div>
  </div>
<div class="pop-scrollbar">
    <div class="pop-box">
      <div class="con">
        <table class="tb" cellspacing="0" cellpadding="0">
          <tr>
            <td width="95"><label>平台版本名：</label></td>
            <td width="225">
                <label>
                    <input type="text" maxlength="30" style="width:215px" class="input" id="inOsName" name="terminalInsertInput.osVersionName" #*onblur="checkInOsName()"*#/>
                    <div id="osNameMsg" class="red hide"> 平台版本已存在</div><div id="osNameNull" class="red hide"> 平台版本不能为空</div><input type="hidden" name="markUpName">
                </label>
            </td>
          </tr>
          <tr>
            <td><label>平台版本码：</label></td>
            <td>
                <label>
                    <input type="text" style="width:215px" class="input" name="terminalInsertInput.osVersionCode" #*onblur="checkInOsCode()"*# maxlength="3"/>
                    <div id="osCodeMsg" class="red hide"> 平台版本码已存在</div><div id="osCodeNull" class="red hide"> 平台版本码不能为空</div><div id="osCodeOut" class="red hide">只能输入1-999的整数</div><input type="hidden" name="markUpCode">
                </label>
            </td>
          </tr>
          <tr>
            <td><label>上下线状态：</label></td>
            <td>
                <label>
                    <select name="terminalInsertInput.online" style="width:218px" class="input" id="select">
                        <option value="1">上线</option>
                        <option value="2">下线</option>
                    </select>
                </label>
            </td>
          </tr>
          <tr>
            <td><label>备注：</label></td>
            <td>
                <label>
                    <textarea id="categoryIntro" maxlength="100" style="width:207px" name="terminalInsertInput.intro" rows="6" onkeyup="num();"></textarea>
                    <span  style="color: #FF0000;">剩余字数：<span id="msg">100</span> 字</span>
                </label>
            </td>
          </tr>
        </table>
          <div class="btn-box">
              <input type="button" class="btn" value="确定" onclick="createOs()"/>
              <input type="button" id="closeDiv" class="close" value="取消" />
          </div>
      </div>
    </div>
  </div>
