#set($layout="content.vm")
<script language="javascript">
    $(document).ready(function(){
        var a = new Pop({ oPop: "classPop", zIndex: 1001, mode: ["center", "center"], idOpen: "open", idClose: ["close", "close"], cover: true, beCover: false, zIndexCover: 1000, colorCover: "#666", opactiyCover: 0.1 });
        var b = new Pop({ oPop: "classPop", zIndex: 1001, mode: ["center", "center"], idOpen: "to-del", idClose: ["close", "close"], cover: true, beCover: false, zIndexCover: 1000, colorCover: "#666", opactiyCover: 0.1 });
        num();
    });
    /**
      * 备注提示
      */
    function num(){
        var maxLength=100;
        var textLength=jQuery('#categoryIntro').val().length;
        if(textLength<=maxLength){
            jQuery('#msg').html(maxLength-textLength);
        }else{
            jQuery('#categoryIntro').val(jQuery('#categoryIntro').val().substr(0,maxLength));
            jQuery('#msg').html(0);
        }
    };
</script>
<div class="pop-top">
    <div class="ac">
      <h2>编辑平台信息</h2>
    </div>
  </div>
    <div class="pop-box">
      <div class="con">
        <table class="tb" cellspacing="0" cellpadding="0">
        <input type="hidden" name="terminalpageInput.osVersionId" value="$!TerminalpageOutput.osVersionId"/>
        <input type="hidden" name="originalName" value="$!stringEscapeUtils.escapeHtml($!TerminalpageOutput.osVersionName)"/>
        <input type="hidden" name="originalCode" value="$!TerminalpageOutput.osVersionCode"/>
          <tr>
            <td width="95"><label>平台版本名：</label></td>
            <td width="225">
                <label>
                    <input type="text" maxlength="30" style="width:215px" class="input" id="osVersionName" name="terminalpageInput.osVersionName" value="$!stringEscapeUtils.escapeHtml($!TerminalpageOutput.osVersionName)" #*onblur="checkOsName()" *#/>
                    <div id="osNameMsg" class="red hide"> 平台版本已存在</div><div id="osNameNull" class="red hide"> 平台版本不能为空</div><input type="hidden" name="markUpName">
                </label>
            </td>
          </tr>
          <tr>
            <td><label>平台版本码：</label></td>
            <td>
                <label>
                    <input type="text" style="width:215px" class="input" name="terminalpageInput.osVersionCode" value="$!TerminalpageOutput.osVersionCode" #*onblur="checkOsCode()" *# maxlength="3"/>
                    <div id="osCodeMsg" class="red hide"> 平台版本码已存在</div><div id="osCodeNull" class="red hide"> 平台版本码不能为空</div><div id="osCodeOut" class="red hide">只能输入1-999的整数</div><input type="hidden" name="markUpCode">
                </label>
            </td>
          </tr>
          <tr>
            <td><label>备注：</label></td>
            <td>
                <label>
                    <textarea id="categoryIntro" style="width:207px" maxlength="100" name="terminalpageInput.intro" rows="5" id="textfield" onkeyup="num();">$!stringEscapeUtils.escapeHtml($!TerminalpageOutput.intro)</textarea>
                    <span  style="color: #FF0000;">剩余字数：<span id="msg">100</span> 字</span>
                </label>
            </td>
          </tr>
        </table>
          <div class="btn-box">
              <input type="button" class="btn" value="确定" onclick="upOs()"/>
              <input type="button" id="closeDiv" class="close" value="取消" />
          </div>
      </div>
  </div>
