#set($title = "用户管理-修改账号密码")
#set($layout="content.vm")

<script type="text/javascript">
    $(document).ready(function() {
        var a = new Pop({ oPop: "classPop", zIndex: 1001, mode: ["center", "center"], idOpen: "open", idClose: ["close", "close"], cover: true, beCover: false, zIndexCover: 1000, colorCover: "#666", opactiyCover: 0.2 });

    });
</script>
  <div class="pop-top">
    <div class="ac">
      <h2>修改账号密码</h2>
    </div>
  </div>
    <div class="pop-box">
      <div class="con">
        <table class="tb" cellspacing="0" cellpadding="0" id="content" width="100%" height="100%">
        <tr>
          <td width="100"><label>用 户 名：</label></td>
          <td width="250"><p>$!account
                    <input  type="hidden" name="supportUsers.account" value="$!account"/></p></td>
        </tr>
        <tr>
          <td><label>密&#12288;&#12288;码：</label></td>
          <td><p><input class="input" type="password" name="supportUsers.password" maxlength="16"/></br><span id="msg2" style="color: #FF0000;"></span></p></td>
        </tr>
        <tr>
          <td><label>确认密码：</label></td>
          <td><p><input class="input" type="password" name="pwd" maxlength="16" onblur="checkedPassword()"/></p></td>
        </tr>
      </table>
      </div>
    </div>
  <div class="btn-box">
    <input class="btn" type="button" value="确 定" onclick="modifiedPwd();">
    <input id="closeDiv" class="close" type="button" value="取 消" >
  </div>
